name: Widgetbook Cloud
on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Generate code
        run: flutter pub run build_runner build --delete-conflicting-outputs
        
      - name: Build Widgetbook
        run: flutter build web -t lib/widgetbook.dart
        
      - name: Install Widgetbook CLI
        run: dart pub global activate widgetbook_cli
        
      - name: Push to Widgetbook Cloud
        run: widgetbook cloud build push --api-key ${{ secrets.WIDGETBOOK_API_KEY }}
